html, body {
    margin: 25px 50px 50px 50px;
}
.d-grid {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.mr-2 {
    margin-top: 7px;
    margin-bottom: 7px;
}

.btn-ingredients {
    transform: scale(0.65);
}
.zutatDiv input {
    margin-left: 8px;
    margin-right: 8px;
}